<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Novo Produto</h1>
    
    <form action="/adicionar" method="POST">
        <label>Nome do Produto:</label>
        <input type="text" name="nome_prod" placeholder="Ex: Mouse" required>
        <br><br>
        
        <label>Preço:</label>
        <input type="number" name="preco_prod" placeholder="Ex: 50" required>
        <br><br>

        <button type="submit">Salvar Produto</button>
    </form>

    <br>
    <a href="/">Voltar para a lista</a>
</body>
</html>